@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Fjalla+One&family=Marcellus&family=Poppins:wght@300;900&family=Sawarabi+Gothic&family=Staatliches&family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: SF PRO DISPLAY;
}
html,
body {
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page>.black-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 10000;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #000;
}
#page>nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 13vh;
    width: 65vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: #000;
    z-index: 999;
}
#page>nav>.up{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
    height: 47%;
    padding: 0% 3px;
}
@font-face {
    font-family: l;
    src: url(./font/sf-pro-text_light.woff2);
}
@font-face {
    font-family: se;
    src: url(./font/sf-pro-text_semibold.woff2);
}
@font-face {
    font-family: re;
    src: url(./font/sf-pro-text_regular.woff2);
}
#page>nav>.up>h3{
    opacity: 0.7;
    font-family: l;
    font-size: 12px;
    font-weight: 100;
}
#page>nav>.up>.logo>img{
    width: 17px;
    height: 17px;
    opacity: 0.8;
}
#page>nav>.down{
    position: relative;
    padding: 0 5px 0 0;
    width: 65vw;
    height: 60%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}
#page>nav>.down>button{
    font-size: 12px;
    padding: 5px 14px;
    border-radius: 46px;
    border: none;
    font-family: l;
    background-color: #fff;
}
#page>nav>.down>h3{
    font-family: se;
    font-weight: 400;
}
#page>video{
    position: absolute;
    height: 100%;
    width: 80%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
    scale: 1;
}

#page>img{
    position: absolute;
    height: 130%;
    width: 85%;
    object-fit: cover;
    left: 50%;
    transform: translate(-50%,-8%);
    z-index: 10;
    opacity: 1;

}
#page-bottom{
    height: 20%;
    width: 25%;
    position: absolute;
    bottom: 6.5%;
    left: 49.6%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 120;
}
#page-bottom>h3{
    font-family: se;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff93;
    margin-bottom: 1vw;
    opacity: 0.7;
}
/* ------------------------------------------------------------------------------------------ */
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page1>.black-bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
#page1>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page1>h1{
    font-size: 3vw;
    color: #fff;
    font-family: re;
    font-weight: 999;
    position: absolute;
    letter-spacing: -1px;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 101;
}


#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
}
#page2>.black-bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
#page2>video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page2>h1{
    font-size: 4vw;
    font-family: se;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
    font-weight: 400;
    z-index: 101;
}
